<head>
    <link href="https://fonts.googleapis.com/css2?family=Roboto" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
</head>
<div class="main">
<body>
    <header>
        <div class="logotipo">
            <img [src]="logo" alt="Logotipo">
        </div>
        <nav>
            <a href="#">Início</a>
            <a href="#">Cursos</a>
            <a href="#">Eventos</a>
            <a href="#">Contato</a>
        </nav>
            <a href="#" class="button">Se inscreva</a>
    </header>      
    <main>
        <section>
            <img [src]="principal" alt="Banda de Jazz Tocando">
            <div>
                <h1>Crie algo <span>impactante</span> com música</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae tenetur pariatur inventore officiis quis suscipit ut dolor? Sapiente dolorem quas temporibus. Asperiores explicabo sunt labore minus officiis pariatur blanditiis ex.</p>
                <a href="#" class="button">Comece agora</a>
            </div>
        </section>
        <section>
            <div class="cards">
            <article>
                <img [src]="piano" alt="icone tecla de piano">
                <strong>Piano Popular</strong>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus ullam nisi, et cumque quam quis non id odit consequatur dolores, voluptatem similique. Nihil commodi ipsam vitae sit id eius aspernatur!</p>
                <a href="#">
                    <img [src]="arrow" alt="Ir para a página do curso">
                </a>
            </article>

            <article>
                <img [src]="clave" alt="icone da clave de sol">
                <strong>Teoria Musical</strong>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus ullam nisi, et cumque quam quis non id odit consequatur dolores, voluptatem similique. Nihil commodi ipsam vitae sit id eius aspernatur!</p>
                <a href="#">
                    <img [src]="arrow" alt="Ir para a página do curso">
                </a>
            </article>

            <article>
                <img [src]="sax" alt="icone saxofone">
                <strong>Sax alto</strong>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus ullam nisi, et cumque quam quis non id odit consequatur dolores, voluptatem similique. Nihil commodi ipsam vitae sit id eius aspernatur!</p>
                <a href="#">
                    <img [src]="arrow" alt="Ir para a página do curso">
                </a>
            </article>

            <article>
                <img [src]="bateria" alt="icone bateria">
                <strong>Bateria</strong>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus ullam nisi, et cumque quam quis non id odit consequatur dolores, voluptatem similique. Nihil commodi ipsam vitae sit id eius aspernatur!</p>
                <a href="#">
                    <img [src]="arrow" alt="Ir para a página do curso">
                </a>
            </article>
            </div>

            <h2>E <span>vários</span> outros!</h2>
            <a href="#">Conhecer os cursos</a>

        </section>
    </main>
    <footer>
        <div>
            <img [src]="logo" alt="logotipo">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas corrupti ratione non repellat vero deserunt, expedita maxime? Laborum, necessitatibus aspernatur qui architecto culpa, maxime similique iure, deleniti rerum nobis recusandae.</p>
            <nav>
                <a href="#">Início</a>
                <a href="#">Cursos</a>
                <a href="#">Eventos</a>
                <a href="#">Contato</a>
            </nav>
            <form>
                <label for="email">Receba materiais gratuitos no seu email</label>
                <input matInput type="text" id="email" placeholder="Digite o seu email">
            </form>
        </div>
    </footer>
</body>
</div>

